<!DOCTYPE html>
<html>
<html>
	<title> MOMO </title>
</head>

<head>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>

<style>
	body {
		background-color: #9bddff;
	}
	h1 {
		color: pink;
	}

</style>
		<div class="container">
        <div class="header">
            <nav>
        </div>
        <h1> Hello {{ name }} </h1>
		<div class="jumbotron">
            <h1>Spicy</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="noGold" role="button">Pot of Gold</a>
            </p>
        </div>

	<div>
		<br>
          
          <br>
	</div>
</body>